body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    background: #111;
    color: #fff;
}

ul {
    margin: 0;
    padding: 0 1rem;
    list-style: none;
    display: flex;
}

li {
    padding: 1rem 2rem;
}

li a {
    color: #fff;
    text-decoration: none;
}

li a:hover {
    color: #bbb;
    text-decoration: underline;
}

main {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

main h1 {
    font-size: 3rem;
}

main p {
    font-size: 1.5rem;
}
